@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Role List";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Index</title>

</head>
<h3>List Role</h3>
<a class="btn btn-primary" asp-action="Create" asp-controller="Role">Add Role</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role Name</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Role" asp-route-Id="@item.Id">Edit</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Role" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
