@model UserModel
@{
    ViewData["Title"] = "Register User";
}
<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form"> 
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="Create" asp-controller="Account">
						<div class="form-group">
							<label>UserName</label>
							<input asp-for="UserName" class="form-control" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label>Email</label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label>Password</label>
							<input asp-for="Password" type="password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>


						<button class="btn btn-default">Create</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}